In [2]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01"

r = requests.get(url)
print("Status Code: ", r.status_code)
print("Headers: ", r.request.headers)
print("Body: ", r.request.body)

Status Code:  200
Headers:  {'User-Agent': 'python-requests/2.26.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}
Body:  None

In [9]:
header = r.headers

In [15]:
print("Date: ", header['date'])
print("Content Type: ", header['Content-Type'])
print("Encoding: ", r.encoding)

Date:  Sun, 12 Jun 2022 09:42:56 GMT
Content Type:  text/html; charset=UTF-8
Encoding:  UTF-8

In [16]:
print(r.text[0:100])

<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title

In [19]:
# Data in the web page
data = r.text

In [22]:
data[101:124]

'List of largest banks -'

In [23]:
# Pass the source code of the web page to beautiful soup to create a beautiful soup object for it.
soup = BeautifulSoup(data, 'html.parser')

In [28]:
#print(soup.prettify())

In [79]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if len(col) > 0:
        name = col[1].text.strip()
        market_cap = float(col[2].get_text(strip=True)[:-3])
        data = data.append({"Name": name, "Market Cap (US$ Billion)": market_cap}, ignore_index=True)

In [80]:
data

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                    400.37
1   Industrial and Commercial Bank of China                    295.00
2                           Bank of America                    279.00
3                               Wells Fargo                    214.00
4                   China Construction Bank                    207.00
5                Agricultural Bank of China                    181.00
6                         HSBC Holdings PLC                    169.00
7                            Citigroup Inc.                    163.00
8                             Bank of China                    151.00
9                      China Merchants Bank                    133.00
10                     Royal Bank of Canada                    113.00
11                    Toronto-Dominion Bank                    106.00
12                        Commonwealth Bank                     99.00
13                                HDFC Bank                     10.00
14                             U.S. Bancorp                     84.00
15                            Goldman Sachs                     78.00
16                          Banco Santander                     75.00
17                           Banco Bradesco                     74.00
18                           Morgan Stanley                     73.00
19                                  Westpac                     67.00
20           Mitsubishi UFJ Financial Group                     66.00
21                               Scotiabank                     65.00
22                   PNC Financial Services                     63.00
23                   Bank of Communications                     61.00
24                              BNP Paribas                     59.00
25  Australia and New Zealand Banking Group                     54.00
26                  National Australia Bank                     51.00
27                     Lloyds Banking Group                     51.00
28          Sumitomo Mitsui Financial Group                     49.00
29                         Bank of Montreal                     48.00
30                                      UBS                     45.00
31                                ING Group                     44.00
32                              Capital One                     43.00
33              The Bank of New York Mellon                     42.00
34                      China Minsheng Bank                     39.00
35                         China CITIC Bank                     38.00
36          Banco Bilbao Vizcaya Argentaria                     37.00
37                   Mizuho Financial Group                     36.00
38                          Intesa Sanpaolo                     36.00
39                          Crédit Agricole                     34.00
40       Canadian Imperial Bank of Commerce                     34.00
41                   Royal Bank of Scotland                     33.00
42                                 Barclays                     33.00
43                            Credit Suisse                     30.00
44                                   Nordea                     29.00
45                       Standard Chartered                     29.00
46                                 KBC Bank                     27.00
47                                UniCredit                     26.00
48                         Société Générale                     21.00
49                            Deutsche Bank                     15.00

In [82]:
# load to json
data.to_json(r'./bank_market_cap.json', orient = 'index')